# Depends on base.tt.

# Axiom for fixed-point combinator.
# In an implementation we would have
# fix f x = f (fix f) x

axiom fix : @a : *. @P : (a -> *).
  ((@x : a. P x) -> (@x : a. P x)) -> (@x : a. P x)

# This axiom breaks logical reasoning, as shown by this proof of
# bottom.
let bot = fix topT (\_ : topT. botT) (id (@x : topT. botT)) top